<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466348561627-n3l33epndhfnhv0gb2ncm0p4cidp3rjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466348561627-n3l33epndhfnhv0gb2ncm0p4cidp3rjs</string>
	<key>API_KEY</key>
	<string>AIzaSyDlSi0piLGwHxdjpSDX3kOT3PYfZZ1iYiI</string>
	<key>GCM_SENDER_ID</key>
	<string>466348561627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Incopo.www</string>
	<key>PROJECT_ID</key>
	<string>incopo-c916c</string>
	<key>STORAGE_BUCKET</key>
	<string>incopo-c916c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466348561627:ios:c46bc91eee0cac23c928fe</string>
</dict>
</plist>